* {
	margin: 0;
	padding: 0;

	font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
		align-items: center;
	-webkit-justify-content: center;
		justify-content: center;

	/* Color of the 2016: #f7cac9 to #92a8d1 */ 
	/* Gradient background */
	background: -webkit-linear-gradient(left, #65997d, #fccb6e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #65997d, #fccb6e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #65997d, #fccb6e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #65997d, #fccb62); /* Standard syntax (must be last) */
	background-attachment: fixed;
}

.menu {
	flex: 1;
	height: 100%;
	background-color: black;
}

.contents {
	flex: 8;
	background-color: orange;
}
